*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #000000;
    color: #f8f8f8;
}
.custom-shape-divider-top-1669782678 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.custom-shape-divider-top-1669782678 svg {
    position: relative;
    display: block;
    width: calc(141% + 1.3px);
    height: 200px;
}

.custom-shape-divider-top-1669782678 .shape-fill {
    fill: #ffffff;
}
.name-span{
    /* background-color: #ac9e9e;  */
    height: 100px;
    width: 100%;
    margin-top: 100px;
    text-align: center;
    padding-top: 20px;
    color: #000000;
}
.name-span span{
    font-size: 50px;
    animation: appear 6s ease-in-out reverse infinite;
}
.name-span span:nth-of-type(2){
    animation-delay: 0.25s;
}
.name-span span:nth-of-type(3){
    animation-delay: 0.50s;
}

.name-span span:nth-of-type(4){
    animation-delay: 1s;
}

.name-span span:nth-of-type(5){
    animation-delay: 1.25s;
    
}
.name-span span:nth-of-type(6){
    animation-delay: 1.50s;
    margin-left: 30px;
}
.name-span span:nth-of-type(7){
    animation-delay: 2s;
}
.name-span span:nth-of-type(8){
    animation-delay: 2.25s;
}
.name-span span:nth-of-type(9){
    animation-delay: 2.50s;
}
@keyframes appear{
    0%{
        color: #f8f8f8;
        text-shadow: grey 0px 0px 12px;

    }
    50%{
        color: #000000;
        text-shadow: grey 0px 0px 12px;

    }
    100%{
        color: #000000;
        text-shadow: grey 0px 0px 12px;

    }
}

.content{
    margin-top: 60px;
     /* background-color: #ffffff;  */
    height: 300px;
    width: 100%;
    display: flex;
    overflow: hidden;
}
.content .photo{
    margin-left: 50px;
    height: 100%;
    width: 25%;
    animation: zoomIn;
    animation-delay: 0.2s;
    animation-duration: 2s;
}
.text{
    height: 100%;
    width: 75%;
    color: #f8f8f8;
    /* background-color: aqua; */
    
}
.text h3{
  animation: fadeInRight;
  animation-delay: 0.2s;
  animation-duration: 2s;
  text-align: center;
  padding-left: 30px;
  margin-top: 80px;
  padding-bottom: 40px;
  padding-top: 50px;
  position: relative;
}
.text h3::after{
    content: " ";
    margin-left: 25%;
    width: 50%;
    height: 4px;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
     animation: right 3s ease-in-out alternate infinite; 
     
}

.text h3::before{
    content: " ";
    margin-left: 25%;
    width: 50%;
    height: 4px;
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: left 3s ease-in-out alternate infinite;

}

@keyframes left{
    0%{
        transform: rotate(0deg) translateX(0px);
        
    }
    50%{
        transform: rotate(0deg) translateX(100px);
        background-color: #000000;
        box-shadow: #f8f8f8 0px 0px 3px;
    }
}
@keyframes right{
    0%{
        transform: rotate(0deg) translateX(0px);
        
    }
    50%{
        transform: rotate(0deg) translateX(-100px);
        background-color: #000000;
        box-shadow: #f8f8f8 0px 0px 3px;
    }
   
}
.socials{
    height: 100%;
    width: 100%;
    /* background-color:blue;   */
    display: flex;
    justify-content: space-evenly;
}
.socials .socials-medias{
    height: 100%;
    width: 100px;
    /* background-color: #f8f8f8;  */

}
.socials .socials-medias img{
    height: 28%;
    width: 85%;
    padding-left: 15%;
    padding-top: 10%;
}
.socials .socials-medias img:hover{
    transform: scale(1.01);
    cursor: pointer;
}
.languages{
    margin-top: 100px;
    width: 80%;
    height: 200px;
    margin-left: 10%;
    /* background-color: #ffffff;    */
}
.languages h1{
    text-align: center;
     /* background-color: aqua;   */
    height: 80px;
    margin-bottom: 80px;
    padding-top: 40px;
}
.languages .carousel{
     /* background-color: aqua;  */
    width: 100%;
    height: 100%;
    overflow: hidden;

}
.carousel .container{
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
    width: 100%;
    height: 80%;
}
 .container img{
    margin-top: 3%;
    padding-left: 15%;
    object-fit: cover;
    background-position: cover;
   
}

.languages-level{
    height: 650px;
    width: 80%;
    margin-left: 10%;
    /* background-color:aqua;  */
    margin-top: 130px;
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap; 
    padding: 100px;
    justify-content: center;
}
.languages-level #img-language{
    margin: 10px;
}
.languages-level h1{
    text-align: center;
    height: 50px;
    width: 100%;
    /* background-color: aqua; */
    margin-bottom: 50px
}
.languages-level .html{
    background: rgb(255,255,255, 0.2);
    border-radius: 20px;
    width: 250px;
    height: 250px;
    position: relative;  
    cursor: pointer;
}
.languages-level .html p{
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%; 
    justify-content: center;
    padding-top: 50%;
    background-color: transparent;
    color: transparent;
    transition: all .9s;
    font-size: 20px;
    animation-duration: 2s;
    animation-name: languages;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.languages-level .html p:hover{
    background-color: #000000; 
    color: #f8f8f8;
    transition-delay: 0.2s;
    border: 3px solid #8b8a8a;
    border-radius: 20px;
    -webkit-transform: rotateY(-0deg) scale(0.5);
    transform: rotateY(-0deg) scale(1);;
    
            
}




.languages-level .css{
    background: rgb(255,255,255, 0.2);
    border-radius: 20px;
    width: 250px;
    height: 250px;
    position: relative;
    cursor: pointer;
}
.languages-level .css p{
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%; 
    justify-content: center;
    padding-top: 50%;
    background-color: transparent;
    color: transparent;
    transition: all .9s;
    font-size: 20px;
}
.languages-level .css p:hover{
    background-color: #000000; 
    color: #f8f8f8;
    transition-delay: 0.2s;
    border: 3px solid #8b8a8a;
    border-radius: 20px;
    -webkit-transform: rotateY(0deg) scale(0.5);
    transform: rotateY(0deg) scale(1);
            
}
.languages-level .sass{
    background: rgb(255,255,255, 0.2);
    border-radius: 20px;;
    width: 250px;
    height: 250px;
    position: relative;
    cursor: pointer;
}
.languages-level .sass p{
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%; 
    justify-content: center;
    padding-top: 50%;
    background-color: transparent;
    color: transparent;
    transition: all .9s;
    font-size: 20px;
}
.languages-level .sass p:hover{
    background-color: #000000; 
    color: #f8f8f8;
    transition-delay: 0.2s;
    border: 3px solid #8b8a8a;
    border-radius: 20px;
    -webkit-transform: rotateY(0deg) scale(0.5);
    transform: rotateY(0deg) scale(1);
            
}
.languages-level .git{
    background: rgb(255,255,255, 0.2);
    border-radius: 20px;
    width: 250px;
    height: 250px;
    position: relative;
    cursor: pointer;
}
.languages-level .git p{
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%; 
    justify-content: center;
    padding-top: 50%;
    background-color: transparent;
    color: transparent;
    transition: all .9s;
    font-size: 20px;
}
.languages-level .git p:hover{
    background-color: #000000; 
    color: #f8f8f8;
    transition-delay: 0.2s;
    border: 3px solid #8b8a8a;
    border-radius: 20px;
    -webkit-transform: rotateY(0deg) scale(0.5);
    transform: rotateY(0deg) scale(1);
            
}
.languages-level .github{
    background: rgb(255,255,255, 0.2);
    border-radius: 20px;
    width: 250px;
    height: 250px;
    position: relative;
    cursor: pointer;
}
.languages-level .github p{
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%; 
    justify-content: center;
    padding-top: 50%;
    background-color: transparent;
    color: transparent;
    transition: all .9s;
    font-size: 20px;
}
.languages-level .github p:hover{
    background-color: #000000; 
    color: #f8f8f8;
    transition-delay: 0.2s;
    border: 3px solid #8b8a8a;
    border-radius: 20px;
    -webkit-transform: rotateY(0deg) scale(0.5);
    transform: rotateY(0deg) scale(1);
            
}

.languages-level .js{
    background: rgb(255,255,255, 0.2);
    border-radius: 20px;
    width: 250px;
    height: 250px;
    position: relative;
    cursor: pointer;
}
.languages-level .js img{
    border-radius: 20px;
}
.languages-level .js p{
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%; 
    justify-content: center;
    padding-top: 50%;
    background-color: transparent;
    color: transparent;
    transition: all .9s;
    font-size: 20px;
    
}
.languages-level .js p:hover{
    background-color: #000000; 
    color: #f8f8f8;
    transition-delay: 0.2s;
    border: 3px solid #8b8a8a;
    border-radius: 20px;
    -webkit-transform: rotateY(0deg) scale(0.5);
    transform: rotateY(0deg) scale(1);
            
}
.languages-level .php{
    background: rgb(255,255,255, 0.2);
    border-radius: 20px;
    width: 250px;
    height: 250px;
    position: relative;
     cursor: pointer;
}
.languages-level .php p{
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%; 
    justify-content: center;
    padding-top: 50%;
    background-color: transparent;
    color: transparent;
    transition: all .9s;
    font-size: 20px;
}
.languages-level .php p:hover{
    background-color: #000000; 
    color: #f8f8f8;
    transition-delay: 0.2s;
    border: 3px solid #8b8a8a;
    border-radius: 20px;
    -webkit-transform: rotateY(0deg) scale(0.5);
    transform: rotateY(0deg) scale(1);
            
}
